<p>Hi. I'm Relative Velocity. I was an outpost runner way back when, was there when the Cantha tour was first invented, and I still hold some records for zone runs.</p>
<p><br></p>
<p>I have high precision running map mods with skill timings included that will be of use while you're learning it, and by the end of this guide you should be able to run most routes for profit.</p>
<p><br></p>
<p>I've also included a few full tour videos, and my running templates for good measure.</p>
<p><br></p>
<p>I'll be using some common abbreviations, and some less common ones for running skills. If you missed one, try the wiki.</p>

<h1>What is running?</h1>
<p>Running is the art of partying with someone, and dragging them through zones to unlock outposts for them. (Not to be confused with rushing, which is finishing a mission for a customer)</p>
<p><br></p>
<p>Running can skip large parts of the primary storyline, as well as grant access to gear before having the prerequisites. It's hard to do, but earns quite a bit of money. The EotN tour is moderately easy, takes 40 minutes for beginners, and typically pays 20e.</p>

<h1>Builds</h1>
<p>As with everything in Guild Wars, it starts with the builds. The meta 'Best possible running build' requires a dervish primary, but pretty much any class can do it as long as they have Assassin skills and some PvE skills from EotN.</p>

<h2>D/A runner</h2>
<p>The meta. The big one. The only class combination that can sport a permanent 50% IMS without BU.</p>

<table>
    <tr>
        <td><img src="https://wiki.guildwars.com/images/0/0f/Zealous_Renewal.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/5/56/Pious_Haste.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/4/4c/Dwarven_Stability.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/ed/%22I_Am_Unstoppable%21%22.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/e4/Shadow_Form.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/0/0b/Dark_Prison.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/9/91/Death%27s_Charge.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/2/26/Heart_of_Shadow.jpg"></td>
    </tr>
    <tr>
        <td><a href="https://wiki.guildwars.com/wiki/Zealous_Renewal" target="_blank">Zealous Renewal</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Pious_Haste" target="_blank">Pious Haste</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dwarven_Stability" target="_blank">Dwarven Stability (<strong>DS</strong>)</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/%22I_Am_Unstoppable!%22" target="_blank">"I am Unstoppable" (<strong>IAU</strong>)</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Shadow_Form" target="_blank">Shadow Form (<strong>SF</strong>)</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dark_Prison" target="_blank">Dark Prison</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Death%27s_Charge" target="_blank">Death's Charge</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Heart_of_Shadow" target="_blank">Heart of Shadow (<strong>HoS</strong>)</a></td>
    </tr>
    <tr>
        <td colspan="8"><code>Ogej4NfMLTjbHY3l0k6MUQ4OIQA</code></td>
    </tr>
</table>

<p>Feeding Pious Haste an enchantment gives you a 7 second stance on a 12 second cooldown. With DS up that means you can sustain it permanently. Typically you'll want to take Zealous Renewal which drops the energy requirement to essentially 2 energy for 14 seconds of 50% IMS with 5 energy for a DS cast every 30 seconds.</p>
<p><br></p>
<p>IAU and SF are the famous pair of skills that let you block cripple, knockdown, and almost all spells. Sometimes the 10s downtime of IAU is too much to get you through an area with a lot of knockdowns (Such as Snake Dance) - in this case you're going to want to drink some alcohol and keep your DS up, since it's a permanent anti-knockdown.</p>
<p><br></p>
<p>Finally we have the shadow steps. These make you faster - that's all. You can use them to deaggro, heal, and skip long detours past walls. Exactly how to use them will be elaborated on later in the guide.</p>
<p><br></p>
<p>You'll want deldrimor rank 5 and norn rank 5 to be effective, with vanguard rank 5 being a nice addition to <a href="https://wiki.guildwars.com/wiki/Ebon_Escape" target="_blank">Ebon Escape's (<strong>EE</strong>)</a> healing potential. Don't complain, in my day you had to have rank 10! Uphill! On the sulfur!</p>
<p><br></p>
<p>Most of these skills should be switched out situationally. If you're in a route without foes, you'll want to swap out foe shadow steps for ally shadow steps like EE. If you're up against strong condition degen, you'll want to swap out Zealous Renewal for Conviction at the cost of some energy loss. If you don't need IAU, swap it out for EE. If you don't need SF, swap it out for Shadow Theft (or Wastrel's Collapse if you already have 3 PvE skills)</p>
<p><br></p>
<p>You get the idea. The only skills you'll want with you pretty much all of the time are Pious Haste, DS, and HoS.</p>
<p><br></p>
<p>A special mention goes to perma builds using Deadly Paradox. As a stance it removes your Pious Haste, but it allows you to keep SF up as long as your energy lasts. You'll need it for some very rare routes.</p>

<h2>A/R runner (Also R/A)</h2>
<p>The second fastest runner around. This build gives you 50% IMS half the time, and 33% IMS with 50% block the other half.</p>

<table>
    <tr>
        <td><img src="https://wiki.guildwars.com/images/2/20/Dash.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/5/5c/Natural_Stride.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/4/4c/Dwarven_Stability.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/ed/%22I_Am_Unstoppable%21%22.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/e4/Shadow_Form.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/0/0b/Dark_Prison.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/9/91/Death%27s_Charge.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/2/26/Heart_of_Shadow.jpg"></td>
    </tr>
    <tr>
        <td><a href="https://wiki.guildwars.com/wiki/Dash" target="_blank">Dash</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Natural_Stride" target="_blank">Natural Stride</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dwarven_Stability" target="_blank">DS</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/%22I_Am_Unstoppable!%22" target="_blank">IAU</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Shadow_Form" target="_blank">SF</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dark_Prison" target="_blank">Dark Prison</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Death%27s_Charge" target="_blank">Death's Charge</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Heart_of_Shadow" target="_blank">HoS</a></td>
    </tr>
    <tr>
        <th colspan="3">Assassin</th>
        <td colspan="5"><code>OwJTgZ/8ZaC6X7ukmUnhCC3BBCA</code></td>
    </tr>
    <tr>
        <th colspan="3">Ranger</th>
        <td colspan="5"><code>OgcTcN8+ZaC6X7ukmUnhCC3BBCA</code></td>
    </tr>
</table>

<p>Stance management is a bit more complex here. Dash is the only other 50% IMS in game besides Pious Haste, but even with DS it has a 2 second downtime. The best way to cover that is with natural stride, providing a 33% IMS and 50% block, but it has a 12 second cooldown, so you'll need to half-and-half it.</p>
<p><br></p>
<p>On top of that, you'll have to worry about hexes and DS/SF timing much more, since natural stride ends if you become enchanted or hexed.</p>
<p><br></p>
<p>Other than stance management, use of this build is basically the same as the D/A build.</p>
<p><br></p>
<p>Assassins are better than rangers here, since they have higher energy regeneration and can rune shadow arts up higher.</p>

<h2>Any/A runner</h2>
<p>The last resort for running, and not something you should expect to get paid for using. This build lets any class run mostly any route.</p>

<table>
    <tr>
        <td><img src="https://wiki.guildwars.com/images/2/20/Dash.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/8/8e/Dark_Escape.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/4/4c/Dwarven_Stability.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/ed/%22I_Am_Unstoppable%21%22.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/e4/Shadow_Form.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/0/0b/Dark_Prison.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/9/91/Death%27s_Charge.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/2/26/Heart_of_Shadow.jpg"></td>
    </tr>
    <tr>
        <td><a href="https://wiki.guildwars.com/wiki/Dash" target="_blank">Dash</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dark_Escape" target="_blank">Dark Escape</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dwarven_Stability" target="_blank">DS</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/%22I_Am_Unstoppable!%22" target="_blank">IAU</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Shadow_Form" target="_blank">SF</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dark_Prison" target="_blank">Dark Prison</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Death%27s_Charge" target="_blank">Death's Charge</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Heart_of_Shadow" target="_blank">HoS</a></td>
    </tr>
    <tr>
        <th colspan="3">Monk</th>
        <td colspan="5"><code>OwcR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
    <tr>
        <th colspan="3">Necromancer</th>
        <td colspan="5"><code>OAdR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
    <tr>
        <th colspan="3">Mesmer</th>
        <td colspan="5"><code>OQdR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
    <tr>
        <th colspan="3">Elementalist</th>
        <td colspan="5"><code>OgdR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
    <tr>
        <th colspan="3">Ritualist</th>
        <td colspan="5"><code>OAeR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
    <tr>
        <th colspan="3">Paragon</th>
        <td colspan="5"><code>OQeR8ZaCqB6ukmUnhCC3BBC</code></td>
    </tr>
</table>

<p>Like the A/R runner, this build uses a second stance to offset the downtime of Dash. That stance is Dark Escape. It has 50% damage reduction, but the 25% IMS and 30 second cooldown means you're going to need it.</p>

<h2>W runner</h2>
<p>Warriors and Paragons have horribly low energy regeneration. They can use the Any/A build, but Warriors in particular can use "I am the Strongest" and Soldier's Speed for a cheaper 30% IMS.</p>

<table>
    <tr>
        <td><img src="https://wiki.guildwars.com/images/e/ec/%22I_Am_the_Strongest%21%22.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/9/99/Soldier%27s_Speed.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/4/4c/Dwarven_Stability.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/ed/%22I_Am_Unstoppable%21%22.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/e/e4/Shadow_Form.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/0/0b/Dark_Prison.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/9/91/Death%27s_Charge.jpg"></td>
        <td><img src="https://wiki.guildwars.com/images/2/26/Heart_of_Shadow.jpg"></td>
    </tr>
    <tr>
        <td><a href="https://wiki.guildwars.com/wiki/%22I_Am_the_Strongest!%22" target="_blank">"I am the Strongest"</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Soldier%27s_Speed" target="_blank">Soldier's Speed</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dwarven_Stability" target="_blank">DS</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/%22I_Am_Unstoppable!%22" target="_blank">IAU</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Shadow_Form" target="_blank">SF</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Dark_Prison" target="_blank">Dark Prison</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Death%27s_Charge" target="_blank">Death's Charge</a></td>
        <td><a href="https://wiki.guildwars.com/wiki/Heart_of_Shadow" target="_blank">HoS</a></td>
    </tr>
    <tr>
        <td colspan="8">OQcSU5PTzkUiAA0k6MUQ4OIQ</td>
    </tr>
</table>

<p>Since the stance is long enough, you can drop DS if you want to slot something else.</p>

<h2>Equipment</h2>
<p>Mostly you'll want a Swift "Don't think twice" staff of Enchanting with 20% HSR, 20% enchantment duration, and 10%+10% HCT. You can swap out the "Don't think twice" inscription for "Have faith" if you need more energy, but it should be enough and more speed is always good.</p>
<p><br></p>
<p>On occasion you'll want a "Run for your life" shield of Fortitude with an "I have the power" of Enchanting to get through damage heavy areas at the cost of HSR/HCT. The <a href="https://wiki.guildwars.com/wiki/Serrated_Shield" target="_blank">/bonus shield</a> and <a href="https://wiki.guildwars.com/wiki/Totem_Axe" target="_blank">totem axe</a> are perfect.</p>
<p><br></p>
<p>Very rarely you'll want a high energy set such as Fendi's <a href="https://wiki.guildwars.com/wiki/Fendi%27s_Rod" target="_blank">Rod</a> &amp; <a href="https://wiki.guildwars.com/wiki/Fendi%27s_Focus" target="_blank">Focus</a>.</p>
<p><br></p>
<p>For armor you'll want a superior Vigor and a whole lot of Radiant &amp; Attunement. D/A runners will also want +1+1 Mysticism.</p>
<p><br></p>
<p>You may want to swap out your superior Vigor for Attunement when running past Ice Imps, or anything that causes -hp for gate clipping, so put it on a cheap piece of armor to switch.</p>
<p><br></p>
<p>For consumables you'll want booze to fuel DS - 1 pointers can be bought for 200 gold each, 3 pointers can be bought from players. They make you drunk for 1 and 3 minutes respectively.</p>

<h2>Ranks</h2>
<p>Next to leveling your character, and gathering the skills and gear you need, title tracks are the very important for a runner. Deldrimor gives you DS, Norn gives you IAU, Vanguard gives you more healing on EE. Asura isn't too important for outpost running.</p>
<p><br></p>
<p>The most important track for a runner is Deldrimor. Until you hit rank 5 you won't be getting the most out of your DS, which is a pivotal skill in any running build.</p>
<p><br></p>
<p>The fastest and easiest way to farm Deldrimor rank points is to hand in the 4 map pieces to Koris Deeprunner in Umbral Grotto, and unlock the <a href="https://wiki.guildwars.com/wiki/Secret_Lair_of_the_Snowmen" target="_blank">Secret lair of the snowmen</a> dungeon. This dungeon is full of low level (15 in normal mode) enemies, so if you take the bounty you should hit rank 5 in a few hours.</p>
<p><br></p>
<p>The fastest way to get your vanguard up is to repeat auspicious beginnings. It takes 5 minutes and gives 1250 vanguard points. It also gives you some war supplies and 1 platinum, so you can make some money while you're at it.</p>
<p><br></p>
<p>The downside is of course that you can't start it until you've finished war in Kryta, but if you're a runner you want that out of the way most of the time anyway, so you'll have to finish it sooner or later. It should also take an hour or 2 to finish.</p>
<p><br></p>
<p>Lastly we have the norn track. IAU is very important, so getting to rank 5 will help you breathe in high cripple/KD areas. Unfortunately, the fastest way to do it is to vanquish Varajar Fells.</p>
<p><br></p>
<p>While vanquishing is annoying, it combines excellently with <a href="https://wiki.guildwars.com/wiki/The_Path_to_Revelations" target="_blank">The path to Revelations</a> which spawns 6 extra bosses all in one spot. This gives you a huge amount of points, so it should also only take an hour or 2.</p>

<h1>Techniques</h1>
<h2>Aggro &amp; Movement</h2>
<p>Aggro. That bubble on your compass that defines whether something attacks you or minds it's own business. If it didn't exist running would be easy, but it does. So it's hard. And lucrative!</p>
<p><br></p>
<p>There are a few rules for aggro, which you can find on the wiki, but the relevant parts for runners are health pool, weapons, speed, and movement techniques. Generally AI targets slow characters with low health wielding caster weapons.</p>
<p><br></p>
<p>The biggest trick besides that is running away. If you run towards a group they will aggro you, but if you run away from a group with IMS they will usually deaggro and bunch up immediately.</p>
<p><br></p>
<p>Sometimes they're presistent and you want them to deaggro early, which leads to the movement technique that practically guarantees deaggro: Strafespam. The AI predicts your movement ahead of where it is, so if you zig-zag rapidly it reads as you moving back and forth at faster than 50% IMS, leading to a faster deaggro at the expense of slightly slower forward speed.</p>
<p><br></p>
<p><em>This is asking for trouble against gravebanes, creeping carp, and other >50% IMS mobs, don't try it!</em></p>
<p><br></p>
<p>Because of the same prediction, if you can keep your strafing tight enough, all arrows fired at you will miss, which can save your ass if you've got nothing else going for you.</p>
<p><br></p>
<p>I also find that zig-zagging through bodyblock is the best way besides shadow steps, probably because of the AI. That's just my gut feeling after lots of running though, since there's no real way to test it.</p>

<h2>Shadow stepping</h2>
<p>"I am the Nightcrawler!" Is what you'll be screaming once you've mastered shadow steps. These discount teleports are very useful for running.</p>
<p><br></p>
<p>Mechanically, they are spells that have to be cast within spell range, teleport you to somewhere adjacent to your target, and can only teleport you to a place you can path to. (So any place you can mouse click move to)</p>
<p><br></p>
<p>This means there has to be a path to your target somewhere within compass range, but that doesn't mean you can't save a lot of time skipping roundabout routes with shadow steps.</p>
<p><br></p>
<p>Because shadow steps are spell range, you should cast them manually when you get close enough. If you cast them from far away your character will walk to within aggro range before casting, but if you cast them manually you can step from outside of aggro range.</p>
<p><br></p>
<p>Shadow steps come in a number of forms. 4 are useful for runners:</p>
<ul>
    <li>Shadow step to an ally</li>
    <li>Shadow step to an enemy</li>
    <li>Shadow step away from an ally or enemy</li>
</ul>
<p>I'll mention Shadow Theft and Wastrel's Collapse separately because as elite skills they remove SF, but they're useful for long stretches of enemies that have no casters.</p>
<p><br></p>
<p>You should prefer Shadow Theft but Wastrel's Collapse comes in handy if you already have 3 PvE skills on. There's an elite ally step that gets use too, but if you really need a fourth ally step you're not going to need SF anyway.</p>
<p><br></p>
<p>Typically you'll bring HoS, Death's Charge, and Dark Prison. HoS gets use everywhere. It's a heal, it works on both enemies and allies (Including yourself, but then its direction is random), it has half the cooldown of your other steps, and it can do trick jumps to areas that have no target. (Though it's less effective at this since they nerfed the distance)</p>
<p><br></p>
<p>Death's Charge is universally superior to Dark Prison: it has a lower energy cost, a heal, and you can use it on spirits. I usually open with Dark Prison so I can save Death's Charge for later, but occasionally you'll need very specific step cycles to get through a zone (See Skill timing, Vehjin Mines)</p>
<p><br></p>
<p>EE is the typical ally step to bring. It had a tiny 8 second cooldown and a big heal - good stuff all around. Shadow Theft and Wastrel's low cooldowns are good if you have a whole lot of steps to perform in a short timespan.</p>

<h3>Bodyblock</h3>
<p>Careful shadow steps can skip bodyblock altogether. The trick is to cycle targets to the back of the group - preferably a caster. When you aggro the front of the group, all the melee mobs will come running for you meaning no-one will be there to block you on your way out.</p>
<p><br></p>
<p>Stepping to a melee enemy can be even better sometimes - the target chosen to step to is made when you start casting. A melee enemy properly aggroed will run towards you a bit before the cast is finished, and you'll almost always end up behind him where you can HoS out of the group.</p>
<p><br></p>
<p>HoS is great for getting around bodyblock, since you don't have to step to a target. When surrounded, just target an enemy behind you and you'll step past the group in the direction you want to go.</p>
<p><br></p>
<p>HoS is also great for deaggro, the little bit of extra distance and health will force a deaggro that much quicker, but don't try it on creeping carps, since the aftercast is all it takes for them to catch up.</p>

<h3>Trick steps</h3>
<p>Trick steps are any shadow step that saves you more time than just running forward. A perfect example is Tihark Orchard to Kodash Bazaar. It's a minute long run filled with ally steps, of which 5 or more are trick steps.</p>
<p><br></p>
<p>You can target someone on the other side of a wall or cliff and step to them, or target someone on this side and HoS off them to the other side.</p>
<p><br></p>
<p>This has an added bonus in that it forces enemies without shadow steps (Which is most of them) to go around the long way, usually causing deaggro and pressure relief. A good example of this is stepping past a jade wave in unwaking waters to deaggro the creeping carps right after the res shrine.</p>

<h2>Skill timing</h2>
<p>Knowing when to time your skills makes a big difference. Not in the sense of "You have to cast Shadow Form before running past Ice Imps" - anyone knows that. I mean that popping your skills when there are no enemies on the compass can halve your time through a zone.</p>
<p><br></p>
<p>It's hard to explain, so I'm going to give you a practical example. Map yourself to Bai Paasu Reach on the east side of the Jade Sea. You're going to run the stretch between there and Eredon Terrace to the south-east. You'll need IAU and SF, but it's a fairly straightforward route.</p>
<p><br></p>
<p>There's just one catch - you have to aggro the Island Guardians. No going around the slow way for you buddy!</p>
<p><br></p>
<p>Go on. I'll still be here when you get back.</p>
<p><br></p>
<p>...</p>
<p><br></p>
<p>Let me make an educated guess as to how your run went.</p>
<woltlab-spoiler>
    <ul>
        <li>You used IAU at the first Island Guardian</li>
        <li>You used SF for the nagas</li>
        <li>And then you were stuck. Your IAU was on cooldown</li>
        <li>Eventually you pop IAU and run past</li>
        <li>But it runs out again right before you hit the third Island Guardian, so you're stuck twiddling your thumbs waiting for the cooldown.</li>
    </ul>
</woltlab-spoiler>
<p>Was that about right? Did that feel fast to you?</p>
<p><br></p>
<p>Of course not, and that's the trick with skill timing. If you cast your IAU before the first guardian even gets on compass, it will run out right after you pass it. Then cast it again on recharge before the nagas and it will recharge just in time for the third group.</p>
<p><br></p>
<p>That's the trick with skill timing - by knowing it ahead of time you can run any route without stopping. You might have to come up with your own timing sometimes, but it's what makes the difference between a pair of dervish that are supposed to have the same IMS.</p>

<h3>Benign strips</h3>
<p>Let's talk strips. Strips are usually pretty bad for runners. Most strips can't target SF, so you don't have to worry about that, but DS is imperative to any running build and disappears all too frequently.</p>
<p><br></p>
<p>But you don't have to use SF for every group that might strip you. If your stance lasts long enough, you can just run past them and recast DS on the other side, or wait for SF to recharge if it was on cooldown.</p>
<p><br></p>
<p>Timing deliberate strips is another aspect of skill timing that will help you go faster. For the same reason, if you're half a stance away from the next portal, there's no reason to stop for DS.</p>
<p><br></p>
<p>There's a particular timing that makes this easy for D/A runners: If you cast SF a bit into your first stance, it will last right until your third stance cast. Now even if you get stripped, your stance will last long enough to recharge SF to protect DS, even in a long enchantment stripping route like Iron Horse Mines.</p>
<p><br></p>
<p>I can't stress enough how important that specific timing is: I've mapped out the skill timings for all the runs in the game, and by my guess <strong>somewhere between 60% and 80% of all shadow form casts adhere to this timing</strong>. Learn it.</p>

<h2>Support heroes</h2>
<p>You may be aware that your heroes will teleport to you if you send them through a portal. Slap <a href="https://wiki.guildwars.com/wiki/Unyielding_Aura" target="_blank">Unyielding Aura</a> on a few heroes and flag them at the portal. If you die during a run you can flag them through the portal to res yourself.</p>
<p><br></p>
<p>This will even work if you die on the sulfur, since you'll be ressed when they die too. Remember though, some portals don't have pathing behind them, and you can't send your heroes through those ones, dungeons in EotN being the primary offender.</p>
<p><br></p>
<p>That said, this is no excuse for dying in a run! It's a safety net for your customers, not for you.</p>
<p><br></p>
<p><strong>Warning:</strong> If mobs aggro the group of heroes and customers at the portal, you should unflag the heroes and let them die running. There's a slim chance they will res a customer into the portal and send you back a zone.</p>
<p><br></p>
<p>If you use dervish heroes you can use <a href="https://wiki.guildwars.com/wiki/Mystic_Healing" target="_blank">Mystic healing</a>. This is a small party wide heal on a short cooldown, and the only heal in game that works map-wide.</p>
<p><br></p>
<p>If you rune your dervish heroes for wind prayers and keybind their mystic healing skills, you have an on-demand 207 HP heal spike as long as you have an enchantment up (Which should be almost all the time with DS)</p>
<p><br></p>
<p>Again, you should not rely on this. Relying on it will dull your skills, and if you can't finish a run reliably without the heroes you shouldn't be running it. It's a safety net for your customers, not for you!</p>

<h2>Gate Clipping</h2>
<p>You can clip yourself through certain gates to get to the portal on the other side. To do this you need something with a hitbox bigger than the gate's hitbox. Move it next to the gate and squeeze between them, and the game should pop you out the other side.</p>
<p><br></p>
<p>It was originally discovered by aggroing an animal, and you can also pull other melee mobs to do it sometimes. The reliable way to do it is to port a hero to the gate with <a href="https://wiki.guildwars.com/wiki/Aura_of_the_Lich" target="_blank">Aura of the Lich</a>, and strip <a href="https://wiki.guildwars.com/wiki/Verata%27s_Aura" target="_blank">Verata's Aura</a> with <a href="https://wiki.guildwars.com/wiki/Contemplation_of_Purity" target="_blank">Contemplation of Purity</a> to turn it hostile.</p>
<p><br></p>
<p>It's mainly used in Cantha so it would be remiss of me not to mention that friendly guards often found near gates in the Jade Sea might kill your minion and ruin your day. Fortunately, the only gate where that's a problem is Gyala Hatchery - drag some Kappa over to kill the guards and clip it when they're gone.</p>
<p><br></p>
<p>It won't work on every gate. Some gates don't have pathing behind them (You can recognize them because you "Bump" into the portal) so you will never clip to the other side.</p>
<p><br></p>
<p>Because you want the minion's hitbox slightly away from the gate so you can wedge yourself in there, I find the easiest way to line up the minion is to swap out my vigor for a major rune to lower my health, and use that to get aggro on the minion and pull him to the right position.</p>
<p><br></p>
<p>Unfortunately, a lot of canthan gates have broken AI pathing - if you stand too close to them the minion will deaggro all on it's own. The solution is to flag your hero next to the gate manually before stripping aura so that the minion is already in position when it goes hostile.</p>

<h2>Balling</h2>
<p>Tightly balling mobs is mostly used for SCs, but some mission rushes require it too, most notably Boreas Seabed.</p>
<p><br></p>
<p>You have to run in a circle around the group at speed while strafing away. You want to be in aggro range of the whole group the whole time, running around the group center. The group center is the location the mobs leash to when running away from them.</p>
<p><br></p>
<p>Because you're constantly strafing "Away" from the group, the mobs will think you're running away from them at high speed and go back to the group's centerpoint, then you can spiral into close range.</p>

<h2>Sulfur Running</h2>
<p>The sulfurous wastes kill you if you walk on them. Or at least, that was the plan, before Fissures waltzed past the sulfurous wastes into Sahlahja and set a record that wouldn't be broken until I came along.</p>
<p><br></p>
<p>Every 2 seconds while you're standing on the sulfur the game logic will go like this:</p>
<ol>
    <li>Anyone standing on the sulfur with the Sulferous Haze effect active dies</li>
    <li>Anyone else standing on the sulfur gets the Sulferous Haze effect</li>
    <li>Anyone not standing on the sulfur loses the Sulferous Haze effect</li>
</ol>
<p>Because of this logic, if you leave right after the 2 seconds hits, you have just under 4 seconds on the sulfur before you die. You can use these 4 seconds to run from safe spot to safe spot to the end.</p>
<p><br></p>
<p>Once you get past the Sulferous Wastes it gets a lot easier. Safespots get big enough to run around bodyblock, and large patches of sand will be safe to walk on. You'll want to memorize which sand textures are safe and which aren't.</p>
<p><br></p>
<p>You can use Fissures' <a href="https://wiki.guildwars.com/wiki/Player-made_Modifications/Cartography_Index#Desolation_Runner" target="_blank">sulfur texmod</a> to highlight which sand is safe and which isn't to learn the routes first. (Note that some safespots can be very misleading, even with the mod)</p>

<h2>Ice Imp gimp</h2>
<p>Take a look at the <a href="https://wiki.guildwars.com/wiki/Ice_Imp#Skills" target="_blank">Ice Imp's skills</a>. The hateful mind freeze - bane of runners is in that list. Take a look at it's description.</p>
<p><br></p>
<blockquote>Deals 10...50...60 cold damage. If you have more Energy than target foe, deals +10...50...60 cold damage and causes 90% slower movement (1...4...5 second[s]).</blockquote>
<p><br></p>
<p>Oh my... Is that a loophole?</p>
<p><br></p>
<p>Why yes it is! Ice Imps have a whopping 75 energy. Using a full energy set a D/A runner can get to 77 energy. Since Zealous Renewal makes getting your stance up cost 2 energy, you can run past them with no fear of a snare.</p>
<p><br></p>
<p>But even better than that, their AI will realize they can't snare you and they won't even try! Instead they'll use the pitifully ineffectual Maelstrom and Ice Spear while you stroll away at 50% IMS.</p>
<p><br></p>
<p>Of course, if you have to stop and recast DS you're boned, unless they've already been hitting you with spells in which case you're going too slow anyway. This trick is something you use on Spearhead Peak, or when you get a bad spawn on Lornar's Pass. It's not something to rely on all the time.</p>

<h2>Arborstone Res</h2>
<p>If your party has more Luxon than Kurzick faction points, you won't get to use the res shrine in Arborstone next to Tanglewood Copse. But there's another one halfway through the zone, so if you deliberately wipe you can access Altruum Ruins and Arborstone without going all the way around.</p>

<h2>Peacekeeper clip</h2>
<p>It's possible to clip through npcs with no skills or help from heroes. For running, this holds little to no value, since the only time you would actually want it is <a href="https://www.twitch.tv/videos/427951652" target="_blank">if the road is blocked by WiK peacekeepers</a>. Still, it may be of use to you if you do forget an ally step (Or if your ally step keeps putting you on the wrong side of the line) so I'll write it down here anyway.</p>
<p><br></p>
<p>The basic principle is best explained inside Lion's Arch. Somewhere in LA is an npc called "Armen the Guide". There's a little alcove behind him that he's blocking entry to. The game deliberately ignores near-collisions that you would get by running past NPCs. We can use this to get through our friend Armen.</p>
<p><br></p>
<p>Zig-zag at a shallow angle to him and you should be able to inch closer and closer until you can strafe around him into the alcove. You might need /stuck to make sure you actually made it through.</p>
<p><br></p>
<p>The same tactic can be used to /sit <em>inside</em> Xunlai chests, or to get past the peacekeeper barricades while the dialogue is running. A good place to practice that is at the Moddok crevice mission, where there's a line of pirates doing the same thing right at the start. Pick a pirate near the wall and slide your way up to him and through the other side.</p>

<h2>Ferry quests</h2>
<p>Quests that bring your party to a different area can be used for running outposts. This is typically called <a href="https://wiki.guildwars.com/wiki/Ferry" target="_blank">ferrying</a>.</p>
<p><br></p>
<p>When ferrying, it is important to complete the quest as far as possible ahead of time, so you only have to complete the last part when running someone. It's even more important to abandon the quest once you reach your destination so you don't accidentally accept the reward. When the run is finished, go back and re-complete the quest as far as possible.</p>
<p><br></p>
<p>You can ferry characters into Unwaking Waters (Luxon) with <a href="https://wiki.guildwars.com/wiki/Journey_to_the_Whirlpool" target="_blank">Journey to the Whirlpool</a>. Unfortunately you have to complete the whole quest.</p>
<p><br></p>
<p>You can ferry characters into <a href="https://wiki.guildwars.com/wiki/Vizunah_Square_(Foreign_Quarter)" target="_blank">Vizunah Square (Foreign Quarter)</a> with <a href="https://wiki.guildwars.com/wiki/Welcome_to_Cantha" target="_blank">Welcome to Cantha</a></p>
<p><br></p>
<p>You can ferry characters from Prophecies and Nightfall into <a href="https://wiki.guildwars.com/wiki/Vizunah_Square_(Local_Quarter)" target="_blank">Vizunah Square (Local Quarter)</a> if they have completed Zen Daijun. You will need to complete the <a href="https://wiki.guildwars.com/wiki/Mayhem_in_the_Market" target="_blank">Mayhem in the Market</a> quest until it asks you to go to the undercity. Having progressed Chasing Zenmai to the undercity will drastically reduce spawns and make it a lot easier. Because it has to be done on a Factions character, the best profession for this is the assassin.</p>
<p><br></p>
<p><a href="https://wiki.guildwars.com/wiki/The_Time_is_Nigh" target="_blank">The Time is Nigh</a>, <a href="https://wiki.guildwars.com/wiki/Terror_in_Tyria" target="_blank">Terror in Tyria</a>, and <a href="https://wiki.guildwars.com/wiki/Plague_in_Cantha" target="_blank">Plague in Cantha</a> are the famous docks ferry quests. They let characters go from Kamadan to Consulate Docks, and from there to Lion's Arch and Kaineng Center. You can keep the tyria and cantha quests on your derv, but you'll need to sacrifice going to the Elona mainland on a character to keep The Time is Nigh. If you're going to do that anyway, consider making this your local quarter ferry assassin, since it takes less time to get to the quest for foreign characters anyway.</p>

<h1>Routes &amp; Mobs</h1>
<p>You'll find detailed route maps at the bottom of this post, but like I mentioned in the section on skill timing, routes aren't all you need to know ahead of time to pull off a run.</p>
<p><br></p>
<p>The mobs in a zone will determine skill timing, what bar you want to take, and the route itself. Luckily, there are some ways we can tweak mobs to our advantage.</p>

<h2>Quests</h2>
<p>There are a number of useful quests that alter spawns in your favor. To take full advantage of them you may want to have a dedicated running character that completes as few quests as possible.</p>
<p><br></p>
<p>Specifically, you can fully complete Prophecies and Factions on a dervish without accepting a single quest reward. Quests needed to enter outposts can be abandoned once you arrive. This is great to keep your options open.</p>
<p><br></p>
<p>Here's a short rundown:</p>

<ul>
    <li><a href="https://wiki.guildwars.com/wiki/To_Kryta:_Journey%27s_End" target="_blank">To kryta: Journey's end</a> replaces many wavebreakers and blighters with zombies. This means you don't have to perma SF, but you'll need to bring IAU to handle grasping ghouls.</li>
    <li><a href="https://wiki.guildwars.com/wiki/Seeking_The_Seer" target="_blank">Seeking the Seer</a> gives you an extra ally step and replaces avicara/trolls/ice imps with stone summit before Ice Caves of Sorrow.</li>
    <li><a href="https://wiki.guildwars.com/wiki/Coffer_of_Joko" target="_blank">Coffer of Joko</a> gives you an extra ally step and trick step at the start of Vehjin Mines.</li>
    <li><a href="https://wiki.guildwars.com/wiki/Journey_to_the_Whirlpool" target="_blank">Journey to the Whirlpool</a> is required to ferry customers into Unwaking Waters (Luxon).</li>
    <li><a href="https://wiki.guildwars.com/wiki/Mayhem_in_the_Market" target="_blank">Mayhem in the Market</a> is required to ferry people into Vizunah Square (Local Quarter).</li>
    <li><a href="https://wiki.guildwars.com/wiki/Chasing_Zenmai" target="_blank">Chasing Zenmai</a> removes the only enemies between Kaineng Center and The Marketplace. If you progress the quest to the undercity, it removes most of the enemies on the way to local quarter instead.</li>
    <li><a href="https://wiki.guildwars.com/wiki/The_Time_is_Nigh" target="_blank">The Time is Nigh</a> is required to ferry people into Consulate Docks.</li>
    <li><a href="https://wiki.guildwars.com/wiki/Terror_in_Tyria" target="_blank">Terror in Tyria</a>, and <a href="https://wiki.guildwars.com/wiki/Plague_in_Cantha" target="_blank">Plague in Cantha</a> are required to ferry people from Consulate Docks to Lion's Arch and Kaineng Center.</li>
    <li>There are numerous quests you <em>explicitly don't</em> want to complete, like <a href="https://wiki.guildwars.com/wiki/Too_High_a_Price" target="_blank">Too High a Price</a> that gives you an extra ally to step to. Don't complete any quest if you don't have to, and remember to abandon and retake ferry quests once your run is done.</li>
</ul>

<h2>Threat Appendix</h2>
<p>I have a quick rundown of which mobs do what. If you've read everything this far you should be able to figure out the best timing for any given route in a few tries. Mobs not listed here don't do anything important enough to worry about.</p>
<p><br></p>
<p>Besides the lowest level zones, snares will kill you. Always use SF past them. Most things with snares will have interrupts, and won't let you recast SF. Stance removal only happens in melee, step carefully to avoid it. Strips will ruin your DS, but if that's all they've got then time it to be benign.</p>
<p><br></p>
<p>Do whatever you have to to avoid KD except for Hydras, who will miss you if you just keep running. You can wait until getting hit with cripple to use IAU, since it's instant. Muddy terrain is a spirit that slows you down, but if you run away fast enough you'll be out of range before it's done casting.</p>

<h3>Ascalon</h3>
<ul>
    <li>Shatter Gargoyles: Snares</li>
    <li>Charr Chaot: Strips</li>
    <li>Charr Blade Warrior/Storm: Stance removal</li>
    <li>Hydras: KD (Spell, delayed target)</li>
</ul>

<h3>Northern Shiverpeaks</h3>
<ul>
    <li>Stone Summit: Strips, Cripple</li>
    <li>Ice Golem: Snares, PBAoE Snares</li>
    <li>Dryders: High pressure damage (Spell)</li>
</ul>

<h3>Kryta</h3>
<ul>
    <li>Gargoyle Wavebreakers: Snares</li>
    <li>Grasping Ghouls: Cripple (Melee)</li>
    <li>Bog skale Blighters: Strips, Interrupts</li>
    <li>Tengu: Strips, Interrupts</li>
    <li>Skeleton Archers: Cripple</li>
    <li>White Mantle in Twin Serpent Lakes: Strips</li>
    <li>Entangling Roots in Majesty's Rest: Cripple, Muddy Terrain</li>
    <li><strong>WiK White Mantle/Peacekeepers</strong>: SF bypassing Strips, SF bypassing interrupts, Cripple, KD, Snares... Assume they have everything, pop SF, and run quickly!</li>
</ul>

<h3>Maguuma</h3>
<ul>
    <li>Devourers: Weakness</li>
    <li>Thorn Stalker: KD (Spell, Only when weakened by devourers)</li>
    <li>Spiders: Cripple</li>
    <li>Riders: Strips, Interrupts</li>
    <li>Skale: Strips</li>
    <li>Root Behemoth: Stance removal (Melee, typically right after stepping since they don't move)</li>
</ul>

<h3>Crystal Desert</h3>
<ul>
    <li>Jade Scarab: Strips</li>
    <li>Riders before Salt Flats: Interrupts</li>
    <li>Sand elementals: KD</li>
    <li>Drakes: 50% IMS, KD (Spell, but only used in melee)</li>
    <li>Hydras: KD (Spell, delayed target)</li>
    <li>Centaurs: Skill shutdown (+recharge time)</li>
    <li>Wurms: Surprise KD (Learn ahead of time)</li>
</ul>

<h3>South Shiverpeaks</h3>
<ul>
    <li>Ice Imp: Snares</li>
    <li>Pinesoul: Cripple, Muddy Terrain</li>
    <li>Ice Golem: Snares, PBAoE Snares</li>
    <li>Avicara Guile: Strips</li>
    <li>Grawl Crones: Strips</li>
    <li>Wurms: Surprise KD (Learn ahead of time)</li>
    <li>Summit Giant Herder: PBAoE KD</li>
    <li>Stone Summit Heretic: Strips, Snares</li>
    <li>Tundra Giants: PBAoE KD, High pressure damage</li>
    <li>Azure Shadows: KD (Signet)</li>
    <li>Jade constructs: Stance removal, Spectral Agony</li>
    <li>Mursaat: Interrupts, High pressure damage (Spell), Spectral Agony</li>
</ul>

<h3>Shing Jea</h3>
<ul>
    <li>Afflicted: Snares</li>
</ul>

<h3>Kaineng</h3>
<ul>
    <li>Am Fah: KD, Cripple</li>
    <li>Jade Brotherhood: SF bypassing interrupts, Ward snares</li>
    <li>Afflicted: Strips, Snares</li>
</ul>

<h3>Jade Sea</h3>
<ul>
    <li>Island Guardian: KD (Signet)</li>
    <li>Rot Wallow: High pressure damage (Spell)</li>
    <li>Naga Archer: SF bypassing interrupts, Daze</li>
    <li><strong>Creeping Carp</strong>: >50% IMS, SF bypassing Strips (Touch), Snares, Stance removal, Built to kill runners!</li>
    <li>Irukandji: Snares</li>
    <li>Outcasts: Strips, Snares, SF bypassing strips (Melee, on crit), Cripple (Melee)</li>
    <li>Oni: KD (Spell)</li>
    <li>Dragons: KD (Spell)</li>
    <li>Kappa: High pressure damage (Spell)</li>
    <li>Afflicted: Strips, Snares</li>
</ul>

<h3>Echovald Forest</h3>
<ul>
    <li>Wardens: Strips, Interrupts, Cripple, KD</li>
    <li>Blood drinker/Fungal wallow: High pressure damage</li>
    <li>Skill Hungry Gaki: SF bypassing Strips (Spirit: Not a problem unless they were already in combat)</li>
    <li>Mantis: Snares, Interrupts, Cripple</li>
    <li>Dredge: Cripple, KD, Stance removal</li>
</ul>

<h3>Istan</h3>
<ul>
    <li>Iboga: Snares</li>
    <li>Mandragor Slither: Stance removal</li>
    <li>Frigid Skale: Snares</li>
    <li>Corsairs: Snares</li>
</ul>

<h3>Kourna</h3>
<ul>
    <li>Iboga: Snares</li>
    <li>Mandragors: Strips</li>
    <li>Kournans: Strips, Interrupts, KD (Spell)</li>
    <li>Stone Shard/Cracked Mesa: High pressure damage</li>
</ul>

<h3>The Desolation</h3>
<ul>
    <li>Mandragors: High pressure damage (Spell)</li>
    <li>Djinn: High pressure damage (Spell)</li>
    <li>Awakened: KD (Signet), Spell blocking (Shadow steps), Weakness (Spell)</li>
    <li>Stone Shard: KD (Spell, Only when weakened by awakened)</li>
    <li>Monoliths: Snares</li>
    <li>Margonites: Strips, Interrupts, Snares</li>
    <li>Giants: PBAoE KD, Cripple</li>
    <li>Wurms: Surprise KD (Learn ahead of time. Very dangerous on sulfur)</li>
</ul>

<h3>Vabbi</h3>
<ul>
    <li>Kournans: Strips, Interrupts, KD (Spell)</li>
    <li>Margonites: Strips, Interrupts, Snares</li>
    <li><strong>Gravebanes</strong>: Highest pressure damage in game, >50% IMS, extreme long deaggro range</li>
    <li>Djinn: High pressure damage (Spell)</li>
    <li>Roaring Ether: Highest spike damage in game. (Esurge. Dump energy before encountering, switch to energy set after)</li>
    <li>Jacandra: KD (Spell)</li>
    <li>Iboga: Snares</li>
</ul>

<h3>Far Shiverpeaks</h3>
<ul>
    <li>Pinesoul: Cripple</li>
    <li>Aloe: KD (Signet)</li>
    <li>Mandragors: KD (Spell), High spike damage (Spell), High pressure damage</li>
    <li>Frozen elementals: Snares, PBAoe snare</li>
    <li>Centaurs: KD (Touch), Cripple</li>
    <li>Wolves in Bjora Marches: Cripple (Melee)</li>
    <li>Charr: Strips, Interrupts</li>
    <li>Wurms: Surprise KD (Learn ahead of time)</li>
    <li>Berserking ...: KD (Melee), Stance removal (Melee)</li>
    <li>Ice Imp: Snares</li>
    <li>Vaettir: KD (Signet)</li>
</ul>

<h3>Tarnished Coast</h3>
<ul>
    <li>Riders: Snares, Interrupts</li>
    <li>Krait: Snares, High spike damage (Spell, delayed)</li>
    <li>Chromatic Drake: Snares, High spike damage (Spell)</li>
    <li>Fanged Ayahuasca: Snares</li>
    <li>Simians: Snares, PBAoE KD</li>
    <li>Tengu: KD (Shout), Strips</li>
    <li>Angorodon: High spike damage (Spell)</li>
</ul>

<h1>Practice</h1>
<p>This is a list of some zones to practice. If you can do them all reliably you're not a beginner any more.</p>

<h2>Beginner</h2>
<h3>Any beginner area</h3>
<p>LA to Ascalon and vice-versa, Shing Jea Island, Istan. These beginner areas let you practice the basics with little chance of death. The hardest part of these will be remembering the route.</p>

<h3>Arrow dodging practice</h3>
<p>Walk out of Bergen Hot Springs and aggro the group of 5 low-level archers there. Hold a strafe and spam the other side to keep you in one spot while the arrows miss to the sides. You'll notice how much faster you have to spam to keep from getting hit the closer you get to the archers.</p>

<h3>Gate clipping practice</h3>
<p>If you followed my advice on quests you shouldn't have accepted any of the quests that open Boreas Seabed or Gyala hatchery. Leave the outposts with a clip hero and practice clipping in.</p>

<h3>NPC clipping practice</h3>
<p>Start the Moddok Crevice mission and NPC clip through the line of corsairs, or start the Tihark Orchard mission and clip past the guards for free cartography.</p>

<h3>Tihark to Kodash</h3>
<p>A 1 minute stretch with no enemies. Take 4 ally steps and HoS and trick-step your way through. You should step more than 10 times by the end. A good way to practice click targeting and skill queuing, since you'll have to do it quickly and won't be able to rely on target cycling.</p>

<h3>Eye of the North Tour</h3>
<p>Despite being the last main campaign, EotN is the easiest campaign to run a full tour of. With the texmod and a day's practice you should be able to do it reliably, and it's in high demand for runs so you might be able to make some money too!</p>

<h2>Intermediate</h2>
<h3>Droknar's Run</h3>
<p>Lornar's Pass is the most run zone in existence. It has a balanced combination of strips, snares, cripple, KD, and bodyblock, along with spawns varied enough to keep you guessing.</p>
<p><br></p>
<p>Snake Dance is the longest single zone to run in the game. It practically requires alcohol to get all the way through, but it's good practice to keep your DS up (or covered by IAU) when you're worried about KD.</p>

<h3>Altruum to Arborstone</h3>
<p>A 2 minute trek through some heavy condition degen, the occasional KD, and ending with hex degen while you were already close to dying. Limp through the portal before you go limp.</p>

<h3>Granite Citadel to Copperhammer Mines</h3>
<p>Starts with a pair of groups to SF past, and ends with a 1 minute stretch of ice imps. A perfect place to test your high energy set or perma build against Mind Freeze.</p>

<h2>Advanced</h2>
<h3>Desolation Tour</h3>
<p>A trip from Gates of Desolation through Sahlahja to Basalt Grotto, then up to Lair of the Forgotten, Bone Palace, and Ruins of Morah.</p>
<p><br></p>
<p>A test of your ability to run sulfur while timing IAU and SF, dodging body blocks, and running a gauntlet of enemies at the end of Joko's domain. Alkali Pan then tests your eyesight so you can tell which sand textures you can run on.</p>

<h3>Bone Palace direct</h3>
<p>A straight route to the bone palace, this involves trick steps into enemies with knockdown in ravines covered in sulfur, a nice addition to knowing the desolation tour. Shadow stepping on sulfur is extremely tricky, but something you'll need to learn to finish a full tour reliably.</p>

<h3>Vehjin Mines</h3>
<p>An excellent test of skill timing. Every DS, every SF, every shadow step must be perfect if you expect to make it through the final 1 minute gauntlet of gravebanes alive.</p>

<h3>Vehtendi Valley</h3>
<p>Speaking of gravebanes, use trick steps to stay alive here after your SF inevitably drops. The crippling anguish the plants brandish will make you wish there were more gravebanes!</p>

<h3>Drok's to Marhan's direct</h3>
<p>Through Icedome to Marhan's Grotto.</p>
<p><br></p>
<p>Icedome is a small zone packed to the brim with Ice Golems and Stone Summit. Dropping SF for a split second will see you snared, so you'll need a perma build with Deadly Paradox to make it through. Besides casting skills as fast as you can and shadow-stepping around a load of bodyblock, you'll need to swap between weapon sets for defense, energy regeneration and max energy all the way to the end.</p>
<p><br></p>
<p>But the fun doesn't stop there. Once you're through Icedome you're in Frozen Forest, where you have to run a gauntlet of Stone Summit, Avicara, and Pinesouls along a bodyblock alley to the south of the map.</p>
<p><br></p>
<p>Finally, you arrive in Ice Floe, where Ice Imps, Mursaat, and <a href="https://wiki.guildwars.com/wiki/Icy_Ground" target="_blank">Icy Ground</a> await.</p>


<h2>Drok's to Marhan's direct no booze no IAU</h2>
<p>Through Icedome to Marhan's Grotto, but without taking alcohol or IAU. While it's technically faster, this build is not something you want to take customers with.</p>
<p><br></p>
<p>Since you're not taking IAU, you have space for an extra shadow step, but without IAU you'll need Conviction to remove the cripple in Frozen Forest. Deadly Paradox and Conviction combine to drop you to 0 in Icedome <em>even with</em> an energy set, and Frozen Forest isn't much easier!</p>

<h1>Resources</h1>
<p>I've uploaded my builds to <a href="https://gitlab.com/jnvsor/gw-running" target="_blank">my repository</a>. Tyria and EotN are fairly straightforward with only a few builds to handle the whole thing, but Cantha and Elona switch builds at every other outpost. Try to do the outposts in the same order as I do if you want the builds to work in order :)</p>
<p><br></p>
<p>You can also download high precision running route and skill timing map mods.</p>
<p><br></p>
<p>The skill timings were made without HSR or HCT, but under the assumption of a D/A runner's speed and a natural use of shadow steps to get ahead. You should always be able to use these routes on a D/A, but you may need to tweak skill timings on a slower build.</p>

<h2>Videos</h2>
<p>I have some videos which might help you grasp the route better than a map. They may be out of date, so you should rely primarily on the texmod maps.</p>
<ul>
    <li><a href="https://www.twitch.tv/videos/293034474" target="_blank">Prophecies Tour Pt. 1</a></li>
    <li><a href="https://www.twitch.tv/videos/293037927" target="_blank">Prophecies Tour Pt. 2</a></li>
    <li><a href="https://www.twitch.tv/videos/276994843" target="_blank">Infusion run</a></li>
    <li><a href="https://www.twitch.tv/videos/293037926" target="_blank">Snake Dance no Booze</a></li>
    <li><a href="https://www.twitch.tv/videos/335475483" target="_blank">Full Cantha Tour</a></li>
    <li><a href="https://www.twitch.tv/videos/295656486" target="_blank">Boreas Seabed 2:46 running build</a></li>
    <li><a href="https://www.twitch.tv/videos/284305293" target="_blank">Istani Tour</a></li>
    <li><a href="https://www.twitch.tv/videos/335877569" target="_blank">Eye of the North Tour</a></li>
    <li><a href="https://www.twitch.tv/videos/427951652" target="_blank">NPC clipping</a></li>
</ul>
